#top-header {
  /*margin-bottom: 100px;*/

}

body {
  background-color: #a3d3e2;
}

#title {

    font-family: 'Bangers', cursive;
    font-size: 100px;
    text-transform: uppercase;


}


#ronny {

  width: 406px;
  height: 558px;

}
#chuckContainer{
  width: 406px;
  height: 558px;

}


#chuckContainer:hover{
  cursor: pointer;
  opacity: 0.5;

}




#quote{

  width: 45%;
  margin-right: 70px;
}
#quote p {

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;


}

#leftSideContent{
  margin-left: 20px;
  display: flex;
  flex-direction: column;

}

#content{

  display: flex;
  justify-content: space-between;
  align-items: center;

}
